.component {
    background-color: aquamarine;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 20%;
}

.name {
    display: flex;
    margin-left: 10px;
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
}

.container_left {
    display: flex;
    justify-content: flex-start;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}