.main {
    background-color:antiquewhite;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent
}

.main:hover {
    border: 1px solid black
}

.name {
    font-size: x-large;
    font-weight: bolder;
}

.star {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}